.container_text_content {
	margin-top: 10%;
	background-color:#f6f6f6 ;
	width: 100%;
	
	display: flex;
	gap: 10%;
	
	
}
@media(max-width:1200px){
	.container_text_content {
		
		flex-direction: column;
		
		align-items: center;
		
		
		
		
		
	}
}
.container_text_content h2{

	margin-top: 10%;
	margin-bottom: 5%;
}
.container_text_content_left {
	
	width: 50%;
	text-align: left;
	padding-left: 10%;
}
@media(max-width:1200px){
	.container_text_content_left {
		width: 75%;
		text-align: left;
		
		padding: 0;

	}
}
.container_text_content_left span{
	line-height: 1.78;
	
}

.container_text_content h1{
	
	display: inline-block;
	margin-bottom: 8%;
	
	
	
	
}

.container_text_content_right {
	
	width: 50%;
	margin-top: 6%;
	
}
@media(max-width:1200px){
	.container_text_content_right {
		width: 75%;
	padding-left: 10%;
	
		
		

	}
	@media(max-width:850px){
		.container_text_content_right {
			width: 100%;
		/* padding-left: 10%; */
		
			
			
	
		}
	}
}
.container_text_content_right_list  {
	font-size: 18px;
	color: black;
	line-height: 1.5;
	/* padding-left: 40px; */

}
@media(max-width:475px){
	.container_text_content_right_list  {
		font-size: 18px;
		color: black;
		line-height: 1.8;
		
	
	}
}
.container_text_content_right_list_two {
	
	
	word-break: break-all;
	
	
	
}
.container_text_content_right_list li  {
	
	padding-left: 30px;

	
	
	
}
.container_text_content_right_list_two li  {
	
	padding-left: 30px;
	
	
	
}
.container_text_content_right_list li:first-child {

	list-style: url(/img/icon/Container_text/Camera\ icon.png);
	
	
	
}
.container_text_content_right_list li:last-child {

	list-style: url(/img/icon/Container_text/Eyes\ icon.png);
	
	
}

.container_text_content_right_list_two  {
	line-height: 1.5;
	font-size: 18px;
	color: black;
	
}
.container_text_content_right_list_two li:nth-child(1) {

	list-style: url(/img/icon/Container_text/Mirror\ icon.png);
	
	
}
.container_text_content_right_list_two li:nth-child(4) {

	list-style: url(/img/icon/Container_text/Studio\ icon.png);
	
	
}
.container_text_content_right_list_two li:nth-child(7) {

	list-style: url(/img/icon/Container_text/Tshirt\ icon.png);
	
	
}
.container_text_content_right_box{
	display: grid;
	grid-template-columns: 50%  50%;
	gap: 10%;
	padding-right: 100px;
}
@media(max-width:475px){
	.container_text_content_right_box{
		display: flex;
		
		margin-left: 40px;
		gap: 25%;
		padding-right: 30px;
	}
	}
@media(max-width:550px){
.container_text_content_right_box{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	gap: 25%;
	padding-right: 30px;
}
}
.container_text_content_block{
	margin-left: 19%;
	background-color: #222;
	text-align: left;
	max-width: 1080px;
	line-height: 1.78;
	padding: 55px 82px 61px 79px;
color: white;
margin-bottom: 5;

}
@media(max-width:1200px){
	.container_text_content_block{
		margin: 0 auto;
		
		background-color: #222;
		text-align: left;
		max-width: 1080px;
		line-height: 1.78;
		padding: 55px 82px 61px 79px;
	color: white;
	
	}
}
@media(max-width:475px){
	.container_text_content_block span{
		
		font-size: 14px;
		
		
	
	}
	.container_text_content_block h3{
		
		font-size: 16px;
		margin-bottom: 40px;
		
		
	
	}
	.container_text_content_block{
		padding: 30px;
		
	}
}
.container_text_content_block span{

color: white;

}
.container_text_content_two{
	background-color: #f6f6f6;
	padding-bottom: 5%;
}
@media(max-width:1200px){
	.container_text_content_two{
		
		padding-top: 80px;
	}
}
.container_text_content_block h3{
		
	
	margin-bottom: 40px;
	
	

}
.line_through{
	text-decoration: underline red 2px;
}
