.container_photo_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    border: 1px coral solid;
    width: 100%;

}

.container_photo_text_title {
    display: inline-block;

}

.container_photo_menu {
    width: 70%;





}

.container_photo_menu_list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: nowrap;



}

.container_photo_menu_list li {

    font-size: 18px;
    color: #ababab;

}

@media(min-width:600px) and (max-width:1600px) {
    .container_photo_menu_list li {

        font-size: 12px;
        color: #ababab;

    }
}

@media(min-width:375px) and (max-width:600px) {
    .container_photo_menu_list li {

        font-size: 8px;
        color: #ababab;

    }
}

.container_photo_menu_list li:hover {
    border-bottom: #ff3c2d 3px solid;
    border-radius: 3px;
    padding-bottom: 10px;
    cursor: pointer;
}





.container_photo_block {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20px;

    width: 80%;


}

.container_photo_block_one {
    display: grid;
    grid-template-columns: 50% 50%;


    gap: 10px;
    width: 50%;



}

.container_photo_block_one img {
    width: 90%;

}

.container_photo_block_two img {


    width: 100%;

}

.container_photo_block_two {
    width: 50%;




}
.container_photo_block_two.img {
	
	width: 100%;
	height: 100%;


}

.container_block_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 41px;
    background-color: #f6f6f6;


}
.container_block_arrow img {
	max-width: 15px;
	height: 8px;
}



.container_photo_block_one button.img {


    width: 80px;
    height: 16px;
}

@media(min-width:375px) and (max-width:1366px) {
    .container_block_arrow img {
        max-width: 15px;
        height: 8px;
    }

    .container_block_arrow {
        height: 21px;
    }
}



