.container_clients {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #222;
	width: 100%;
	padding-bottom: 150px;
	padding-right: 10px;
	padding-left: 10px;

}

	.photo_text img{
	width: 100%;
	border-radius:  5px 5px 0 0 ;
	
	
}
.photo_text{
	
	border-radius: 5px;
	opacity: 0.8;
	/* background-color: black; */
	background-image:  linear-gradient(45deg, rgba(255,255,255,.0) 10%, rgba(255,255,255,.1), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0) 1%, rgba(255,255,255,0) 99%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,0), rgba(255,255,255,.5) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.5) 45%, rgba(125,125,125,.5)),
   /* linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.5) 45%, rgba(223,190,170,.5)), */
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.5) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(255,255,255,) 3px 10px 10px -10px;
}
.photo_text:hover{
	opacity: 1;
	transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);

}
.container_slide{
	display: flex;
	justify-content: center;
align-items: center;
gap: 15px;
margin: 0 auto;

	
}

.container_clients_photo {
	margin-top:5%;
	display: flex;
	justify-content: center;
	gap: 50px;
width: 90%;




}
.button_prev {
	
	width: 40px;
	height: 45px;
font-size: 28px;
border-radius: 50%;
color: rgba(0,0,0,.7);
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 50%; */
	height: 41px;
	background-image:  linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(255,60,45,0.8)
  0px -1px 10px 1px;

}
@media(min-width:600px) and (max-width:1200px){
	.button_prev{
		min-width: 40px;
		height: 40px;
		
		font-size: 25px;
		
	}
}
@media(max-width:600px){
	.button_prev{
		width: 35px;
		height: 35px;
		
		font-size: 19px;
	}
}
.button_prev:hover{

opacity: 0.5;
	transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);

}

.button_next{
	
	width: 40px;
	height: 45px;
font-size: 28px;
border-radius: 50%;
color: rgba(0,0,0,.7);
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 50%; */
	height: 41px;
	background-image:  linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(255,60,45,0.8) 0px -1px 10px 1px;
}
@media(min-width:600px) and (max-width:1200px){
	.button_next{
		width: 40px;
		height: 40px;
	
		font-size: 25px;
		

	}
}
@media(max-width:600px){
	.button_next{
		width: 35px;
		height: 35px;
	
		font-size: 19px;
	}
}
.button_next:hover{
	opacity: 0.5;
	transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	}

.photo_text {
display: flex;
flex-direction: column;
align-items: center;
}
.photo_text_subtitle span{
	
	z-index: 2;
	font-weight: 100;
	color: white;
	line-height: 1.8;
	font-size: 18px;
	
}

.photo_text_subtitle{
	
	width: 85%;
	margin-top: 50px;
	margin-bottom: 40px;
}



.container_clients_text {
	text-align: center;
	margin-top: 5%;
	color: white;
}
.container_clients_text h2 {
	
	color: white;
}
.container_clients_text p {
	margin-top: 5%;
	color: white;
}
.container_clients_text span {
	
	color: white;
}

.container_clients_photo::-webkit-scrollbar{
	width: 0;
}
.container_rating{
	padding: 10px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
}
.container_rating span{
	color: white;
}


.rating_block::before {
	display: block;
	content: "★★★★★";
	
 }

 .rating_block{
	
font-size: 20px;
display: inline-block;
position: relative;
 }

 .rating_items{
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
	

 }
 .rating_item{
position: absolute;
width: 0%;
height: 0%;
opacity: 0;
visibility: hidden;
top: 0;
left: 0;

 }
 .rating_label{
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: white;
 }
 .rating_label::before{
	content: "★";
	display: block;
	transition: #ff3c2d 0.3 ease 0s;
 }
 .rating_item:checked,
 .rating_item:checked ~ .rating_label{
	color: orangered;
 }
 .rating_label:hover,
 .rating_label:hover ~ .rating_label,
 .rating_label:checked ~ .rating_label:hover{
	color: orangered;
 }









