.container_map {
    position: relative;
	 z-index: 0;
    max-width: 1920px;
    height: 560px;
    margin: auto;
z-index: -1;
}
.map{
	display: block;
	touch-action: pan-x pan-y;
}




#container_map_button {
    display: block;
    width: 163px;
    height: 45px;
    font-size: 18px;
    margin-left: 200px;
    margin-top: 30px;
    margin-right: 10px;
}

@media(min-width:600px) and (max-width:1366px) {
    #container_map_button {

        width: 120px;
        height: 35px;
        margin-left: 165px;

    }
}

@media(max-width:600px) {
    #container_map_button {

        width: 100px;
        height: 35px;
        margin-left: 110px;

    }
}

.container_map_text_block {
    /* display: flex;
	flex-direction: column;
	gap: 10%; */

    position: absolute;
z-index: 1;
    background-color: #fff;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 20%;
    padding-bottom: 4%;
    left: 10%;
    top: 30%;

}

@media(max-width:600px) {
    .container_map_text_block {
        left: 5%;
    }
}