.container_photo_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    width: 100%;

}

.container_photo_text_title {
	margin-top: 30px;
    display: inline-block;

}

.container_photo_menu {
	margin-top: 50px;
    width: 80%;





}

.container_photo_menu_list {
	
	
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: nowrap;



}

.container_photo_menu_list li {

    font-size: 18px;
    color: #ababab;
	 padding-bottom: 8px;


}

@media(min-width:600px) and (max-width:1200px) {
	.container_photo_menu_list{
		
		justify-content: space-between;
		overflow:scroll;
		scroll-behavior: smooth;
		width: 100%;
		height: 50px;
		gap: 5%;
		
	}
	.container_photo_menu_list::-webkit-scrollbar {
		width: 0;
	 }
   
}

@media(max-width:600px) {
    .container_photo_menu_list li {

        font-size: 16px;
        color: #ababab;

    }
	 .container_photo_menu_list{
		justify-content: space-between;
		overflow-y: scroll;
		scroll-behavior: smooth;
		gap: 5%;
		height: 50px;
	}
	.container_photo_menu_list::-webkit-scrollbar {
		width: 0;
	 }
}

.container_photo_menu_list li:hover {
	
	transition: 0.5s ;
	letter-spacing: 0.1em;
	font-size: 20px;
	border-bottom: rgba(255,60,45,);
    border-bottom: rgba(255,60,45, .8)
	 2px solid ;
	 
	 
	 color: black;
   
   
    cursor: pointer;
}





.container_photo_block {
	
    margin-top: 5%;
    display: flex;
	

    justify-content: center;
    

    width: 60%;
}
@media(max-width:700px){
	.container_photo_block{
		display:none;
	}
	
	
}
@media(min-width:700px){
	.container_photo_block_adaptive{
		display: none;
	}
}
@media(max-width:650px){
	.container_photo_block_adaptive{
		display: flex;
		
		
	
	}
	.container_photo_block_adaptive img{
		width: 100%;
	}
}


.container_photo_block_all{
	width: 50%;

	
}
.container_photo_block_one {
	
    display: grid;
    grid-template-columns: 50% 50%;
    
	 column-gap: 0;
	 row-gap: 28px;
    width: 100%;



}

.container_photo_block_one img {
    width: 90%;

}

.container_photo_block_two img {


    width: 100%;

}

.container_photo_block_two {
    width: 55%;
	 




}


.container_block_arrow {
	/* opacity: 0.4; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 41px;
    


}
@media(min-width:700px){
	.container_arrow_adaptive button{
		
		display: none;
	}
}
.container_arrow_adaptive{
	display: flex;
		justify-content: center;
		align-items: center;
		gap: 40px;
		width: 300px;
		height: 41px;
}
.container_block_arrow:hover {
	opacity: 1;
	transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.container_block_arrow {
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 41px;
	background-image:  linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;


}

.container_block_arrow  img {
	max-width: 15px;
	height: 8px;
}
.container_arrow{
	
	display: flex;
	gap: 30px;
	width: 95%;
	margin-top: 20px;
}


.container_photo_block_one button.img {


    width: 80px;
    height: 16px;
}

/* @media(max-width:1366px) {
    .container_block_arrow img {
        max-width: 15px;
        height: 8px;
    }

    .container_block_arrow {
        height: 21px;
		  width: 90%;
    }
} */



