body {
    padding: 10px;

    display: block;
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
}



.container {
    max-width: 1920px;
    margin: 0px auto;
}

.big_button {
    border-radius: 4px;
    padding: 0 22px;
    background-color: #ff3c2d;
    font-size: 18px;
    color: white;

}

/* @media (max-width:10px){
		.container{
		max-width:1200px;
		
		}
	} */
/* @media (max-width:1440px){
		.container{
		max-width:1200px;
		
		}
	} */
/* @media (max-width:1366px){
		.container{
		max-width:1000px;
		
		}
	} */